$tl: 1s;
  
body
  background-color: rgb(235, 234, 231)
  background-image: url("https://i.imgur.com/W9YCify.png")
  padding: 0rem
  margin: 0rem
  font-size: 1rem
  font-family: "Fondamento", cursive
  overflow-y: scroll

a
  text-decoration: none
  color: black
  &:hover
    text-decoration: none
    color: black
    cursor: pointer

// Classes de utilidade
.bold
  font-weight: bold

.center
  text-align: center

.cursive
  font-family: "Fondamento", cursive

.headerContainer
  .headerLinks
    font-size: 1.2em
    margin-top: .5rem
    .categoryLink
      padding: 0 0 0 1rem
      font-weight: bold
      &:hover
        text-decoration: underline
  .title
    font-size: 4.5em
    font-weight: bold
    text-align: center
    padding-bottom: .6rem
    border-bottom: .6rem double black
    font-family: "Fondamento", cursive
    a:hover
        padding-left: 1.25rem
        transition: 0.5s
  .date
    font: 1em "Roboto Mono", monospace
    text-align: center
    width: 17.5rem
    margin: auto
    margin-top: .6rem
    border-left: .06rem solid black
    border-right: .06rem solid black

.bodyContainer
  margin-top: .6rem
  border-top: .19rem solid black
  text-align: center
  .newsTitle
    font-size: 2.5em
    font-weight: bold
    padding: 0rem 1rem
    font-family: "Fondamento", cursive
  .newsDescription
    padding: 0rem .6rem
    margin-top: 1.25rem

.footer
  font-family: "Fondamento", cursive

// Bloco de noticias na página inicial -------------------------------------------------------------
.newsBlock
  width: 20%
  max-height: 30%
  margin-top: 2rem
  font-family: "Fondamento", cursive
  h1:hover
    padding-left: 1.5rem
    transition: 0.5s
  .newsOptions
    font-size: 1.5em
    font-weight: bold
    .newsOptionLink
      cursor: pointer
      padding: 0 .2rem
      &:hover
        text-decoration: underline
    
// Lista das categorias ----------------------------------------------------------------------------
.newsCategory
  padding: 2rem 0 0


.searchOption
  input
    font-weight: bold
    &:hover
      text-decoration: underline
  .searchInput
    padding-left: 7.5rem
  .searchInputManager
    padding-left: 1rem
  .search-box
    transition: width $tl, border-radius $tl, background $tl, box-shadow $tl
    width: 60px
    height: 60px
    border-radius: 30px
    border: none
    cursor: pointer
    background-color: rgb(235, 234, 231)
    background-image: url("https://i.imgur.com/W9YCify.png")
    color: black
    & + label .search-icon  
      color: black    
    &:hover
      color: white
    &:focus
      transition: width $tl cubic-bezier(0,1.22,.66,1.39), border-radius $tl, background $tl
      border: none
      outline: none
      box-shadow: none
      padding-left: 15px
      cursor: text
      width: 300px
      border-radius: auto
      background: rgb(210, 210, 210)
      background-image: url("https://i.imgur.com/W9YCify.png")
      color: black
      & + label .search-icon    
        display: none
    &:not(:focus)     
      text-indent: -5000px  

#search-submit 
  position: relative
  left: -5000px

.search-icon
  position: relative
  left: -51px
  top: 11px
  color: white
  cursor: pointer

.noFoundNews
  padding: 6rem 0 0

// News/Details/{id}
.newsDetail
  margin-top: 1rem
  font-family: "Fondamento", cursive
  // News (header)
  .newsDetailHeaderContainer
    margin: .4rem auto
    width: 100%
    .newsDetailHeaderTitleContainer
      .newsTitle
        font-size: 3em
      .newsDescription
        margin-top: 2rem
        text-align: justify
        font-weight: bold
    .newsDetailHeaderCategoryContainer
      font-size: 1.5em
      a
        &:hover
          font-weight: bold
          text-decoration: underline
    .newsDetailHeaderImagesContainer
      img
        height: 100%
  .newsInfo
    padding: 1rem 0 0
    font-size: 1.2em
    p
      margin: 0
    .newsAuthors
      text-align: left
      a
        &:hover
          text-decoration: underline
          font-weight: bold
      .addAuthor
        padding-top: 1rem
        font-weight: bold
        a
          &:hover
            text-decoration: underline
            padding-left: .4rem
            transition: .5s
    .newsDate
      text-align: right
      .newsOptions
        margin-top: 2rem
        a
          &:hover
            text-decoration: underline
      .time
        font-size: .8em
  // News (body)
  .newsDetailBodyContainer
    text-align: justify
    margin: .4rem auto
    font-size: 1.1em
    width: 100%
    padding: .5rem 2rem
    p
      padding: 0
      margin: 0 0 1.5rem
  
//Comments --------------------------------------------------------------------------
.newsCommentsContainer
  border-top: .6rem double
  margin-top: 4rem
  text-align: left
  &>p
    padding: 2rem 0 1rem
    font-size: 1.5em
    a
      &:hover
        text-decoration: underline
        padding: 0 0 0 .3rem
        transition: .5s
  .commentsList
    h2
      margin: 1.5rem 0 2rem
      font-family: "Fondamento", cursive
      font-weight: bold
  div::first-of-type
    border-top: none
  .comment
    padding: 2rem .5rem 2rem
    border-top: .06rem solid
    p
      margin: 0
    .commentHeaderContainer
      .commentHeaderUser
        font-weight: bold
        a
          &:hover
            text-decoration: underline
      .commentHeaderDate
        font-size: .8em
    
    .commentBodyContainer
      margin-top: 1rem
    .commentDeleteOption
      text-align: right
      font-size: 1.2em
      a
        &:hover
          text-decoration: underline

// Perfil do utilizador --------------------------------------------------------------------------
.userProfile
  text-align: left
  p
    font-size: 1.1em
  .userName
    padding: 1rem
  .changePasswordLink
    a
      font-size: 1.2em
      &:hover
        text-decoration: underline
  .commentsListUserProfile
    h2
      margin: 1.5rem 0 2rem
      font-family: "Fondamento", cursive
      font-weight: bold
    div::first-of-type
      border-top: none
    .comment
      padding: 2rem .5rem 2rem
      border-top: .06rem solid
      p
        margin: 0
      .commentHeaderContainer
        .commentHeaderUser
          font-weight: bold
        .commentHeaderDate
          font-size: .8em
      .commentBodyContainer
        margin-top: 1rem
    .newsContext
      text-align: right
      font-size: 1.2em
      a
        &:hover
          text-decoration: underline
  .newsList
    h2
      margin-top: 1.5rem
      padding: 0 0 1rem
    a
      &:hover
        text-decoration: underline
        font-weight: bold
        padding-left: .3rem
        transition: .3s 


img
  width: 100%

.footer
  text-align: center
  font-size: 1em
  font-weight: bold
  margin-top: 1rem
  padding: .3rem 0rem
  border-top: 0.19rem double black
  border-bottom: 0.19rem double black

// Bootstrap 3.3

.glyphicon-search:before
  content: "\e003"

.glyphicon
  position: relative
  display: inline-block
  font-family: 'Glyphicons Halflings'
  -webkit-font-smoothing: antialiased
  font-style: normal
  font-weight: normal
  line-height: 1
  font-size: 2rem

@font-face 
  font-family: 'Glyphicons Halflings'
  src: url('../fonts/glyphicons-halflings-regular.eot')
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg')


// Media Size

@media only screen and (max-width:1199px)
  .newsDetail > .col-6
      -ms-flex: 0 0 100%
      flex: 0 0 100%
      max-width: 100%
  .newsDetail, .newsArticle, .newsDetailHeaderContainer
      padding-right: 0 !important
  .newsDetailBodyContainer
      padding: 1rem 1rem !important
  .newsBlock
      h1:hover
          padding-left: 1rem
          text-decoration: underline
  .userProfile
      .col-6
          -ms-flex: 0 0 100%
          flex: 0 0 100%
          max-width: 100%
      .col-12 .col-12
          padding: 0 .5rem
  .mobileSeparator
      display: block !important

@media only screen and (min-width:768px) and  (max-width:1199px)
  .col-4 
    -ms-flex: 0 0 50%
    flex: 0 0 50%
    max-width: 50%

@media only screen and (min-width:300px) and  (max-width:767px)
  .container 
    max-width: 700px
  .col-4 
      -ms-flex: 0 0 100%
      flex: 0 0 100%
      max-width: 100%