body {
  background-color: #ebeae7;
  background-image: url("https://i.imgur.com/VVTTgNT.png");
  padding: 0rem;
  margin: 0rem;
  font-size: 1rem;
  font-family: "Fondamento", cursive;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.cursive {
  font-family: "Fondamento", cursive;
}

.headerContainer .headerLinks {
  font-size: 1.2em;
  margin-top: .5rem;
}

.headerContainer .headerLinks .categoryLink {
  padding: 0 0 0 1rem;
  font-weight: bold;
}

.headerContainer .headerLinks .categoryLink:hover {
  text-decoration: underline;
}

.headerContainer .title {
  font-size: 4.5em;
  font-weight: bold;
  text-align: center;
  padding-bottom: .6rem;
  border-bottom: .6rem double black;
  font-family: "Fondamento", cursive;
}

.headerContainer .title a:hover {
  padding-left: 1.25rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.headerContainer .date {
  font: 1em "Roboto Mono", monospace;
  text-align: center;
  width: 17.5rem;
  margin: auto;
  margin-top: .6rem;
  border-left: .06rem solid black;
  border-right: .06rem solid black;
}

.bodyContainer {
  margin-top: .6rem;
  border-top: .19rem solid black;
  text-align: center;
}

.bodyContainer .newsTitle {
  font-size: 2.5em;
  font-weight: bold;
  padding: 0rem 1rem;
  font-family: "Fondamento", cursive;
}

.bodyContainer .newsDescription {
  padding: 0rem .6rem;
  margin-top: 1.25rem;
}

.footer {
  font-family: "Fondamento", cursive;
}

.newsBlock {
  width: 20%;
  max-height: 30%;
  margin-top: 2rem;
  font-family: "Fondamento", cursive;
}

.newsBlock h1:hover {
  padding-left: 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newsBlock .newsInfo p {
  margin: 0;
}

.newsBlock .newsInfo a:hover {
  text-decoration: underline;
}

.newsBlock .newsOptions {
  font-size: 1.5em;
  font-weight: bold;
}

.newsBlock .newsOptions .newsOptionLink {
  cursor: pointer;
  padding: 0 .2rem;
}

.newsBlock .newsOptions .newsOptionLink:hover {
  text-decoration: underline;
}

.searchInput input {
  font-weight: bold;
}

.searchInput .search-box {
  height: 3.5rem;
  width: 20rem;
  border-radius: 30px;
  border: none;
  outline: none;
  padding-left: 15px;
  background: #d2d2d2;
  background-image: url("https://i.imgur.com/VVTTgNT.png");
  color: black;
}

.noNewsFoundContainer {
  padding: 6rem 0 0;
}

.pageOptions {
  padding: 4rem 0 2rem;
}

.pageOptions .previousPage, .pageOptions .nextPage {
  font-weight: bold;
  font-size: 1.4em;
}

.pageOptions .previousPage a:hover, .pageOptions .nextPage a:hover {
  text-decoration: underline;
}

.pageOptions .previousPage a:hover {
  padding-right: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.pageOptions .nextPage a:hover {
  padding-left: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.newsCategory {
  padding: 2rem 0 0;
}

.newsDetail {
  margin-top: 1rem;
  font-family: "Fondamento", cursive;
}

.newsDetail .newsDetailHeaderContainer {
  margin: .4rem auto;
  width: 100%;
}

.newsDetail .newsDetailHeaderContainer .newsDetailHeaderTitleContainer .newsTitle {
  font-size: 3em;
}

.newsDetail .newsDetailHeaderContainer .newsDetailHeaderTitleContainer .newsDescription {
  margin-top: 2rem;
  text-align: justify;
  font-weight: bold;
}

.newsDetail .newsDetailHeaderContainer .newsDetailHeaderCategoryContainer {
  font-size: 1.5em;
}

.newsDetail .newsDetailHeaderContainer .newsDetailHeaderCategoryContainer a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.newsDetail .newsDetailHeaderContainer .newsDetailHeaderImagesContainer img {
  height: 100%;
}

.newsDetail .newsInfo {
  padding: 1rem 0 0;
  font-size: 1.2em;
}

.newsDetail .newsInfo p {
  margin: 0;
}

.newsDetail .newsInfo .newsAuthors {
  text-align: left;
}

.newsDetail .newsInfo .newsAuthors a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.newsDetail .newsInfo .newsAuthors .addAuthor {
  padding-top: 1rem;
  font-weight: bold;
}

.newsDetail .newsInfo .newsAuthors .addAuthor a:hover {
  text-decoration: underline;
  padding-left: .4rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.newsDetail .newsInfo .newsDate {
  text-align: right;
}

.newsDetail .newsInfo .newsDate .newsOptions {
  margin-top: 2rem;
}

.newsDetail .newsInfo .newsDate .newsOptions a:hover {
  text-decoration: underline;
}

.newsDetail .newsInfo .newsDate .time {
  font-size: .8em;
}

.newsDetail .newsDetailBodyContainer {
  text-align: justify;
  margin: .4rem auto;
  font-size: 1.1em;
  width: 100%;
  padding: .5rem 2rem;
}

.newsDetail .newsDetailBodyContainer p {
  padding: 0;
  margin: 0 0 1.5rem;
}

.newsCommentsContainer {
  border-top: .6rem double;
  margin-top: 4rem;
  text-align: left;
}

.newsCommentsContainer > p {
  padding: 2rem 0 1rem;
  font-size: 1.5em;
}

.newsCommentsContainer > p a:hover {
  text-decoration: underline;
  padding: 0 0 0 .3rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.newsCommentsContainer .commentNew {
  padding: 2rem 0;
}

.newsCommentsContainer .commentNew .dropDownUserNameContainer {
  padding: 1rem 0 2rem;
}

.newsCommentsContainer .commentNew .dropDownUserNameContainer select {
  background-color: #ededed;
}

.newsCommentsContainer .commentNew .commentContent {
  width: 60%;
  height: 5rem;
  background-color: #ededed;
}

.newsCommentsContainer .commentNew .commentSubmit input {
  padding-left: 0;
  font-weight: bold;
}

.newsCommentsContainer .commentNew .commentSubmit input:hover {
  padding-left: .5rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.newsCommentsContainer .commentsList h2 {
  margin: 1.5rem 0 2rem;
  font-family: "Fondamento", cursive;
  font-weight: bold;
}

.newsCommentsContainer div::first-of-type {
  border-top: none;
}

.newsCommentsContainer .comment {
  padding: 2rem .5rem 2rem;
  border-top: .06rem solid;
}

.newsCommentsContainer .comment p {
  margin: 0;
}

.newsCommentsContainer .comment .commentHeaderContainer .commentHeaderUser {
  font-weight: bold;
}

.newsCommentsContainer .comment .commentHeaderContainer .commentHeaderUser a:hover {
  text-decoration: underline;
}

.newsCommentsContainer .comment .commentHeaderContainer .commentHeaderDate {
  font-size: .8em;
}

.newsCommentsContainer .comment .commentBodyContainer {
  margin-top: 1rem;
}

.newsCommentsContainer .comment .commentDeleteOption {
  text-align: right;
  font-size: 1.2em;
}

.newsCommentsContainer .comment .commentDeleteOption a:hover {
  text-decoration: underline;
}

.userProfile {
  text-align: left;
}

.userProfile p {
  font-size: 1.1em;
}

.userProfile .userName {
  padding: 1rem;
}

.userProfile .changePasswordLink a {
  font-size: 1.2em;
}

.userProfile .changePasswordLink a:hover {
  text-decoration: underline;
}

.userProfile .commentsListUserProfile h2 {
  margin: 1.5rem 0 2rem;
  font-family: "Fondamento", cursive;
  font-weight: bold;
}

.userProfile .commentsListUserProfile div::first-of-type {
  border-top: none;
}

.userProfile .commentsListUserProfile .comment {
  padding: 2rem .5rem 2rem;
  border-top: .06rem solid;
}

.userProfile .commentsListUserProfile .comment p {
  margin: 0;
}

.userProfile .commentsListUserProfile .comment .commentHeaderContainer .commentHeaderUser {
  font-weight: bold;
}

.userProfile .commentsListUserProfile .comment .commentHeaderContainer .commentHeaderDate {
  font-size: .8em;
}

.userProfile .commentsListUserProfile .comment .commentBodyContainer {
  margin-top: 1rem;
}

.userProfile .commentsListUserProfile .newsContext {
  text-align: right;
  font-size: 1.2em;
}

.userProfile .commentsListUserProfile .newsContext a:hover {
  text-decoration: underline;
}

.userProfile .newsList h2 {
  margin-top: 1.5rem;
  padding: 0 0 1rem;
}

.userProfile .newsList a:hover {
  text-decoration: underline;
  font-weight: bold;
  padding-left: .3rem;
  -webkit-transition: .3s;
  transition: .3s;
}

img {
  width: 100%;
}

.footer {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin-top: 1rem;
  padding: .3rem 0rem;
  border-top: 0.19rem double black;
  border-bottom: 0.19rem double black;
}

@media only screen and (max-width: 1199px) {
  .newsDetail > .col-6 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .newsDetail, .newsArticle, .newsDetailHeaderContainer {
    padding-right: 0 !important;
  }
  .newsDetailBodyContainer {
    padding: 1rem 1rem !important;
  }
  .newsBlock h1:hover {
    padding-left: 1rem;
    text-decoration: underline;
  }
  .userProfile .col-6 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .userProfile .col-12 .col-12 {
    padding: 0 .5rem;
  }
  .mobileSeparator {
    display: block !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .col-4 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 700px;
  }
  .col-4 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .search-box {
    width: 50% !important;
  }
}
/*# sourceMappingURL=WebPaper.css.map */